USE [DocuzoneDev]
GO
/****** Object:  Table [dbo].[API_Key_Scope]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_Key_Scope](
	[Scope_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[API_Key_ID] [bigint] NOT NULL,
	[Project_ID] [int] NOT NULL,
	[Model_ID] [int] NULL,
	[Granted_By] [varchar](100) NOT NULL,
	[Granted_Date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Scope_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Scope] UNIQUE NONCLUSTERED 
(
	[API_Key_ID] ASC,
	[Project_ID] ASC,
	[Model_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[API_Keys]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[API_Keys](
	[API_Key_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Key] [varchar](20) NOT NULL,
	[Label] [varchar](255) NULL,
	[Is_Active] [bit] NOT NULL,
	[Last_Used_Date] [datetime] NULL,
	[Expiry_Date] [datetime] NULL,
	[Created_Date] [datetime] NOT NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Revoked_Date] [datetime] NULL,
	[Revoked_By] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[API_Key_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[C_LLM_Config]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[C_LLM_Config](
	[C_LLM_Config_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[LLM_Provider] [nvarchar](50) NOT NULL,
	[Model_Name] [nvarchar](100) NOT NULL,
	[API_Key] [nvarchar](512) NOT NULL,
	[Base_URL] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Created_Date] [datetime] NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [nvarchar](100) NULL,
	[Updated_By] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[C_LLM_Config_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_ID] [int] IDENTITY(1000,1) NOT NULL,
	[Customer_Code] [varchar](50) NOT NULL,
	[Customer_Name] [varchar](255) NOT NULL,
	[Contact_Person] [varchar](255) NULL,
	[Super_Admin] [varchar](255) NOT NULL,
	[Country] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
 CONSTRAINT [PK__Customer__8CB286B943323797] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document_Table]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document_Table](
	[Doc_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Execution_ID] [bigint] NOT NULL,
	[File_Name] [varchar](500) NOT NULL,
	[File_Path] [nvarchar](max) NOT NULL,
	[MIME_Type] [varchar](100) NULL,
	[File_Size_KB] [decimal](15, 2) NULL,
	[Page_Count] [int] NULL,
	[Doc_Status] [varchar](50) NOT NULL,
	[Tokens_used] [int] NULL,
	[Json_Output] [nvarchar](max) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
 CONSTRAINT [PK__Document__464738217307E717] PRIMARY KEY CLUSTERED 
(
	[Doc_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Execution_Audit]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Execution_Audit](
	[Audit_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Execution_ID] [bigint] NOT NULL,
	[Doc_ID] [bigint] NULL,
	[Model_ID] [int] NOT NULL,
	[Stage] [varchar](100) NOT NULL,
	[Stage_Status] [varchar](50) NOT NULL,
	[Stage_Start] [datetime] NULL,
	[Stage_End] [datetime] NULL,
	[Remark] [nvarchar](max) NULL,
	[Logged_By] [varchar](100) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Created_By] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Audit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Execution_Master]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Execution_Master](
	[Execution_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Project_ID] [int] NOT NULL,
	[Model_ID] [int] NOT NULL,
	[Triggered_By] [varchar](100) NOT NULL,
	[Trigger_Source] [varchar](255) NULL,
	[Input_Folder] [nvarchar](max) NULL,
	[Output_Folder] [nvarchar](max) NULL,
	[Execution_Status] [varchar](50) NOT NULL,
	[Start_Time] [datetime] NULL,
	[End_Time] [datetime] NULL,
	[Remarks] [nvarchar](max) NULL,
	[No_of_Documents] [int] NULL,
	[No_of_page] [int] NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
 CONSTRAINT [PK__Executio__388C692FD5A5A9E2] PRIMARY KEY CLUSTERED 
(
	[Execution_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Header_Data]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Header_Data](
	[Header_Data_ID] [int] IDENTITY(1,1) NOT NULL,
	[Model_ID] [int] NOT NULL,
	[FOI_Name] [varchar](255) NOT NULL,
	[Status] [varchar](50) NULL,
	[Defenition_Rule] [varchar](255) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Header_Data_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Header_Data_Output]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Header_Data_Output](
	[Header_Output_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Execution_ID] [bigint] NOT NULL,
	[Model_ID] [int] NOT NULL,
	[Header_Data_ID] [int] NULL,
	[Doc_ID] [bigint] NULL,
	[FOI_Name] [varchar](255) NOT NULL,
	[Extracted_Value] [nvarchar](max) NULL,
	[Page_Number] [int] NULL,
	[Review_Status] [varchar](50) NOT NULL,
	[Reviewed_By] [varchar](100) NULL,
	[Corrected_Value] [nvarchar](max) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Header_Output_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LLM_Config]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LLM_Config](
	[LLM_Config_ID] [int] IDENTITY(1,1) NOT NULL,
	[LLM_Provider] [nvarchar](50) NOT NULL,
	[Model_Name] [nvarchar](100) NOT NULL,
	[API_Key] [nvarchar](512) NOT NULL,
	[Base_URL] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Created_Date] [datetime] NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [nvarchar](100) NULL,
	[Updated_By] [nvarchar](100) NULL,
 CONSTRAINT [PK_LLM_Config] PRIMARY KEY CLUSTERED 
(
	[LLM_Config_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Model]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Model](
	[Model_ID] [int] IDENTITY(3000,1) NOT NULL,
	[Project_ID] [int] NOT NULL,
	[Model_Name] [varchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Hot_Folder] [varchar](max) NULL,
	[Schedule] [varchar](100) NULL,
	[Rejection_Type] [varchar](100) NULL,
	[Status] [varchar](50) NULL,
	[Prompt] [nvarchar](max) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
 CONSTRAINT [PK__Model__1E82D1D335156FD2] PRIMARY KEY CLUSTERED 
(
	[Model_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Permission_ID] [int] IDENTITY(1,1) NOT NULL,
	[Permission_Code] [varchar](100) NOT NULL,
	[Module] [varchar](100) NOT NULL,
	[Action] [varchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [varchar](50) NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Created_By] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Permission_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Permission_Code] UNIQUE NONCLUSTERED 
(
	[Permission_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Project_ID] [int] IDENTITY(2000,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Project_Name] [varchar](255) NOT NULL,
	[Status] [varchar](50) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
 CONSTRAINT [PK__Project__1CB92FE365F1BBE6] PRIMARY KEY CLUSTERED 
(
	[Project_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Role_Code] [varchar](50) NOT NULL,
	[Role_Name] [varchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Scope_Level] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Role_RoleCode] UNIQUE NONCLUSTERED 
(
	[Role_Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Permission]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Permission](
	[Role_Perm_ID] [int] IDENTITY(1,1) NOT NULL,
	[Role_ID] [int] NOT NULL,
	[Permission_ID] [int] NOT NULL,
	[Granted] [bit] NOT NULL,
	[Granted_By] [varchar](100) NOT NULL,
	[Granted_Date] [datetime] NOT NULL,
	[Created_Date] [datetime] NOT NULL,
	[Created_By] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Role_Permission] PRIMARY KEY CLUSTERED 
(
	[Role_Perm_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Data]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Data](
	[Table_Data_ID] [int] IDENTITY(1,1) NOT NULL,
	[Model_ID] [int] NOT NULL,
	[FOT_Name] [varchar](255) NOT NULL,
	[Defenition_Rule] [varchar](255) NULL,
	[Status] [varchar](50) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
 CONSTRAINT [PK__Table_Da__08C92CA398BFC499] PRIMARY KEY CLUSTERED 
(
	[Table_Data_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Table_Data_Output]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Data_Output](
	[Table_Output_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Execution_ID] [bigint] NOT NULL,
	[Model_ID] [int] NOT NULL,
	[Table_Data_ID] [int] NULL,
	[Doc_ID] [bigint] NULL,
	[Row_Index] [int] NOT NULL,
	[FOT_Name] [varchar](255) NOT NULL,
	[Extracted_Value] [nvarchar](max) NULL,
	[Page_Number] [int] NULL,
	[Review_Status] [varchar](50) NOT NULL,
	[Reviewed_By] [varchar](100) NULL,
	[Corrected_Value] [nvarchar](max) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
	[Updated_By] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Table_Output_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Password_Hash] [varchar](255) NOT NULL,
	[Password_Salt] [varchar](100) NULL,
	[Full_Name] [varchar](255) NOT NULL,
	[Phone] [varchar](30) NULL,
	[Profile_Picture_URL] [nvarchar](max) NULL,
	[User_Type] [varchar](50) NOT NULL,
	[Status] [varchar](50) NOT NULL,
	[Verified_User] [bit] NOT NULL,
	[Email_Verified_At] [datetime] NULL,
	[Last_Login_At] [datetime] NULL,
	[Last_Login_IP] [varchar](50) NULL,
	[Failed_Login_Count] [int] NOT NULL,
	[Locked_Until] [datetime] NULL,
	[Password_Reset_Token] [varchar](255) NULL,
	[Password_Reset_Expiry] [datetime] NULL,
	[Timezone] [varchar](100) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Updated_Date] [datetime] NULL,
	[Created_By] [varchar](100) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Audit_Log]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Audit_Log](
	[UAudit_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Session_ID] [bigint] NULL,
	[Action] [varchar](100) NOT NULL,
	[Module] [varchar](100) NOT NULL,
	[IP_Address] [varchar](50) NULL,
	[User_Agent] [nvarchar](500) NULL,
	[Status] [varchar](50) NOT NULL,
	[Failure_Reason] [nvarchar](500) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Created_By] [varchar](100) NOT NULL,
 CONSTRAINT [PK_User_Audit_Log] PRIMARY KEY CLUSTERED 
(
	[UAudit_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[User_Role_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Role_ID] [int] NOT NULL,
	[Scope_Type] [varchar](50) NOT NULL,
	[Scope_ID] [int] NULL,
	[Assigned_By] [varchar](100) NOT NULL,
	[Assigned_Date] [datetime] NOT NULL,
	[Expires_At] [datetime] NULL,
	[Is_Active] [bit] NOT NULL,
	[Revoked_By] [varchar](100) NULL,
	[Revoked_Date] [datetime] NULL,
	[Revoke_Reason] [nvarchar](500) NULL,
	[Created_Date] [datetime] NOT NULL,
	[Created_By] [varchar](100) NOT NULL,
 CONSTRAINT [PK_User_Role] PRIMARY KEY CLUSTERED 
(
	[User_Role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Session]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Session](
	[Session_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[User_ID] [int] NOT NULL,
	[Token_Hash] [varchar](255) NOT NULL,
	[Token_Type] [varchar](50) NOT NULL,
	[IP_Address] [varchar](50) NULL,
	[User_Agent] [nvarchar](500) NULL,
	[Device_Info] [nvarchar](500) NULL,
	[Location_Country] [varchar](100) NULL,
	[Issued_At] [datetime] NOT NULL,
	[Expires_At] [datetime] NOT NULL,
	[Last_Activity_At] [datetime] NULL,
	[Is_Active] [bit] NOT NULL,
	[Revoked_At] [datetime] NULL,
	[Revoke_Reason] [varchar](100) NULL,
 CONSTRAINT [PK_User_Session] PRIMARY KEY CLUSTERED 
(
	[Session_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Session_Token] UNIQUE NONCLUSTERED 
(
	[Token_Hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[API_Keys] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[C_LLM_Config] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[C_LLM_Config] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Header_Data_Output] ADD  DEFAULT ('Pending') FOR [Review_Status]
GO
ALTER TABLE [dbo].[Permission] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Role_Permission] ADD  DEFAULT ((1)) FOR [Granted]
GO
ALTER TABLE [dbo].[Role_Permission] ADD  DEFAULT (getdate()) FOR [Granted_Date]
GO
ALTER TABLE [dbo].[Role_Permission] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[Table_Data_Output] ADD  DEFAULT ('Pending') FOR [Review_Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [Verified_User]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [Failed_Login_Count]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[User_Audit_Log] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[User_Role] ADD  DEFAULT (getdate()) FOR [Assigned_Date]
GO
ALTER TABLE [dbo].[User_Role] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[User_Role] ADD  DEFAULT (getdate()) FOR [Created_Date]
GO
ALTER TABLE [dbo].[User_Session] ADD  DEFAULT (getdate()) FOR [Issued_At]
GO
ALTER TABLE [dbo].[User_Session] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[API_Key_Scope]  WITH CHECK ADD  CONSTRAINT [FK_Scope_APIKey] FOREIGN KEY([API_Key_ID])
REFERENCES [dbo].[API_Keys] ([API_Key_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[API_Key_Scope] CHECK CONSTRAINT [FK_Scope_APIKey]
GO
ALTER TABLE [dbo].[API_Key_Scope]  WITH CHECK ADD  CONSTRAINT [FK_Scope_Model] FOREIGN KEY([Model_ID])
REFERENCES [dbo].[Model] ([Model_ID])
GO
ALTER TABLE [dbo].[API_Key_Scope] CHECK CONSTRAINT [FK_Scope_Model]
GO
ALTER TABLE [dbo].[API_Key_Scope]  WITH CHECK ADD  CONSTRAINT [FK_Scope_Project] FOREIGN KEY([Project_ID])
REFERENCES [dbo].[Project] ([Project_ID])
GO
ALTER TABLE [dbo].[API_Key_Scope] CHECK CONSTRAINT [FK_Scope_Project]
GO
ALTER TABLE [dbo].[API_Keys]  WITH CHECK ADD  CONSTRAINT [FK_APIKeys_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[API_Keys] CHECK CONSTRAINT [FK_APIKeys_Customer]
GO
ALTER TABLE [dbo].[C_LLM_Config]  WITH CHECK ADD  CONSTRAINT [FK_C_LLMConfig_CustomerID] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[C_LLM_Config] CHECK CONSTRAINT [FK_C_LLMConfig_CustomerID]
GO
ALTER TABLE [dbo].[Document_Table]  WITH CHECK ADD  CONSTRAINT [FK__Document___Execu__46E78A0C] FOREIGN KEY([Execution_ID])
REFERENCES [dbo].[Execution_Master] ([Execution_ID])
GO
ALTER TABLE [dbo].[Document_Table] CHECK CONSTRAINT [FK__Document___Execu__46E78A0C]
GO
ALTER TABLE [dbo].[Execution_Audit]  WITH CHECK ADD  CONSTRAINT [FK__Execution__Doc_I__47DBAE45] FOREIGN KEY([Doc_ID])
REFERENCES [dbo].[Document_Table] ([Doc_ID])
GO
ALTER TABLE [dbo].[Execution_Audit] CHECK CONSTRAINT [FK__Execution__Doc_I__47DBAE45]
GO
ALTER TABLE [dbo].[Execution_Audit]  WITH CHECK ADD  CONSTRAINT [FK__Execution__Execu__48CFD27E] FOREIGN KEY([Execution_ID])
REFERENCES [dbo].[Execution_Master] ([Execution_ID])
GO
ALTER TABLE [dbo].[Execution_Audit] CHECK CONSTRAINT [FK__Execution__Execu__48CFD27E]
GO
ALTER TABLE [dbo].[Execution_Audit]  WITH CHECK ADD  CONSTRAINT [FK__Execution__Model__49C3F6B7] FOREIGN KEY([Model_ID])
REFERENCES [dbo].[Model] ([Model_ID])
GO
ALTER TABLE [dbo].[Execution_Audit] CHECK CONSTRAINT [FK__Execution__Model__49C3F6B7]
GO
ALTER TABLE [dbo].[Execution_Master]  WITH CHECK ADD  CONSTRAINT [FK__Execution__Model__4AB81AF0] FOREIGN KEY([Model_ID])
REFERENCES [dbo].[Model] ([Model_ID])
GO
ALTER TABLE [dbo].[Execution_Master] CHECK CONSTRAINT [FK__Execution__Model__4AB81AF0]
GO
ALTER TABLE [dbo].[Execution_Master]  WITH CHECK ADD  CONSTRAINT [FK__Execution__Proje__4BAC3F29] FOREIGN KEY([Project_ID])
REFERENCES [dbo].[Project] ([Project_ID])
GO
ALTER TABLE [dbo].[Execution_Master] CHECK CONSTRAINT [FK__Execution__Proje__4BAC3F29]
GO
ALTER TABLE [dbo].[Header_Data]  WITH CHECK ADD  CONSTRAINT [FK__Header_Da__Model__2C3393D0] FOREIGN KEY([Model_ID])
REFERENCES [dbo].[Model] ([Model_ID])
GO
ALTER TABLE [dbo].[Header_Data] CHECK CONSTRAINT [FK__Header_Da__Model__2C3393D0]
GO
ALTER TABLE [dbo].[Header_Data_Output]  WITH CHECK ADD  CONSTRAINT [FK__Header_Da__Doc_I__4CA06362] FOREIGN KEY([Doc_ID])
REFERENCES [dbo].[Document_Table] ([Doc_ID])
GO
ALTER TABLE [dbo].[Header_Data_Output] CHECK CONSTRAINT [FK__Header_Da__Doc_I__4CA06362]
GO
ALTER TABLE [dbo].[Header_Data_Output]  WITH CHECK ADD  CONSTRAINT [FK__Header_Da__Execu__4D94879B] FOREIGN KEY([Execution_ID])
REFERENCES [dbo].[Execution_Master] ([Execution_ID])
GO
ALTER TABLE [dbo].[Header_Data_Output] CHECK CONSTRAINT [FK__Header_Da__Execu__4D94879B]
GO
ALTER TABLE [dbo].[Header_Data_Output]  WITH CHECK ADD FOREIGN KEY([Header_Data_ID])
REFERENCES [dbo].[Header_Data] ([Header_Data_ID])
GO
ALTER TABLE [dbo].[Header_Data_Output]  WITH CHECK ADD  CONSTRAINT [FK__Header_Da__Model__4F7CD00D] FOREIGN KEY([Model_ID])
REFERENCES [dbo].[Model] ([Model_ID])
GO
ALTER TABLE [dbo].[Header_Data_Output] CHECK CONSTRAINT [FK__Header_Da__Model__4F7CD00D]
GO
ALTER TABLE [dbo].[Model]  WITH CHECK ADD  CONSTRAINT [FK__Model__Project_I__29572725] FOREIGN KEY([Project_ID])
REFERENCES [dbo].[Project] ([Project_ID])
GO
ALTER TABLE [dbo].[Model] CHECK CONSTRAINT [FK__Model__Project_I__29572725]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK__Project__Custome__267ABA7A] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK__Project__Custome__267ABA7A]
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_Role_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_Role_Customer]
GO
ALTER TABLE [dbo].[Role_Permission]  WITH CHECK ADD  CONSTRAINT [FK_RP_Permission] FOREIGN KEY([Permission_ID])
REFERENCES [dbo].[Permission] ([Permission_ID])
GO
ALTER TABLE [dbo].[Role_Permission] CHECK CONSTRAINT [FK_RP_Permission]
GO
ALTER TABLE [dbo].[Role_Permission]  WITH CHECK ADD  CONSTRAINT [FK_RP_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[Role_Permission] CHECK CONSTRAINT [FK_RP_Role]
GO
ALTER TABLE [dbo].[Table_Data]  WITH CHECK ADD  CONSTRAINT [FK__Table_Dat__Model__2F10007B] FOREIGN KEY([Model_ID])
REFERENCES [dbo].[Model] ([Model_ID])
GO
ALTER TABLE [dbo].[Table_Data] CHECK CONSTRAINT [FK__Table_Dat__Model__2F10007B]
GO
ALTER TABLE [dbo].[Table_Data_Output]  WITH CHECK ADD  CONSTRAINT [FK__Table_Dat__Doc_I__5070F446] FOREIGN KEY([Doc_ID])
REFERENCES [dbo].[Document_Table] ([Doc_ID])
GO
ALTER TABLE [dbo].[Table_Data_Output] CHECK CONSTRAINT [FK__Table_Dat__Doc_I__5070F446]
GO
ALTER TABLE [dbo].[Table_Data_Output]  WITH CHECK ADD  CONSTRAINT [FK__Table_Dat__Execu__5165187F] FOREIGN KEY([Execution_ID])
REFERENCES [dbo].[Execution_Master] ([Execution_ID])
GO
ALTER TABLE [dbo].[Table_Data_Output] CHECK CONSTRAINT [FK__Table_Dat__Execu__5165187F]
GO
ALTER TABLE [dbo].[Table_Data_Output]  WITH CHECK ADD  CONSTRAINT [FK__Table_Dat__Model__52593CB8] FOREIGN KEY([Model_ID])
REFERENCES [dbo].[Model] ([Model_ID])
GO
ALTER TABLE [dbo].[Table_Data_Output] CHECK CONSTRAINT [FK__Table_Dat__Model__52593CB8]
GO
ALTER TABLE [dbo].[Table_Data_Output]  WITH CHECK ADD  CONSTRAINT [FK__Table_Dat__Table__534D60F1] FOREIGN KEY([Table_Data_ID])
REFERENCES [dbo].[Table_Data] ([Table_Data_ID])
GO
ALTER TABLE [dbo].[Table_Data_Output] CHECK CONSTRAINT [FK__Table_Dat__Table__534D60F1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Customer]
GO
ALTER TABLE [dbo].[User_Audit_Log]  WITH CHECK ADD  CONSTRAINT [FK_UAL_Session] FOREIGN KEY([Session_ID])
REFERENCES [dbo].[User_Session] ([Session_ID])
GO
ALTER TABLE [dbo].[User_Audit_Log] CHECK CONSTRAINT [FK_UAL_Session]
GO
ALTER TABLE [dbo].[User_Audit_Log]  WITH CHECK ADD  CONSTRAINT [FK_UAL_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[User_Audit_Log] CHECK CONSTRAINT [FK_UAL_User]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_UR_Role] FOREIGN KEY([Role_ID])
REFERENCES [dbo].[Role] ([Role_ID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_UR_Role]
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD  CONSTRAINT [FK_UR_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[User_Role] CHECK CONSTRAINT [FK_UR_User]
GO
ALTER TABLE [dbo].[User_Session]  WITH CHECK ADD  CONSTRAINT [FK_US_User] FOREIGN KEY([User_ID])
REFERENCES [dbo].[User] ([User_ID])
GO
ALTER TABLE [dbo].[User_Session] CHECK CONSTRAINT [FK_US_User]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteModel]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteModel]
    @Model_ID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Soft-delete the Table Definition Data (was: DELETE)
        UPDATE [dbo].[Table_Data]
        SET Status = 'Inactive',
            Updated_Date = GETDATE()
        WHERE Model_ID = @Model_ID
          AND Status = 'Active';

        -- 2. Soft-delete the Header Definition Data (was: DELETE)
        UPDATE [dbo].[Header_Data]
        SET Status = 'Inactive',
            Updated_Date = GETDATE()
        WHERE Model_ID = @Model_ID
          AND Status = 'Active';

        -- 3. Soft-delete the Model itself (was: DELETE)
        UPDATE [dbo].[Model]
        SET Status = 'Inactive',
            Updated_Date = GETDATE()
        WHERE Model_ID = @Model_ID
          AND Status = 'Active';

        -- NOTE: Execution Outputs, Audit Logs, Documents, and Executions
        -- (Table_Data_Output, Header_Data_Output, Execution_Audit,
        -- Document_Table, Execution_Master) are historical/processing
        -- records and are intentionally left untouched.

        COMMIT TRANSACTION;
        PRINT 'Model and associated definition data marked Inactive successfully.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        -- Return the error information
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProject]    Script Date: 16-07-2026 13:16:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteProject]
    @Project_ID INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        -- 1. Soft-delete Definition Tables for all Models in this Project (was: DELETE)
        UPDATE [dbo].[Table_Data]
        SET Status = 'Inactive',
            Updated_Date = GETDATE()
        WHERE Model_ID IN (SELECT Model_ID FROM [dbo].[Model] WHERE Project_ID = @Project_ID)
          AND Status = 'Active';

        UPDATE [dbo].[Header_Data]
        SET Status = 'Inactive',
            Updated_Date = GETDATE()
        WHERE Model_ID IN (SELECT Model_ID FROM [dbo].[Model] WHERE Project_ID = @Project_ID)
          AND Status = 'Active';

        -- 2. Soft-delete all Models associated with this Project (was: DELETE)
        UPDATE [dbo].[Model]
        SET Status = 'Inactive',
            Updated_Date = GETDATE()
        WHERE Project_ID = @Project_ID
          AND Status = 'Active';

        -- 3. Soft-delete the Project itself (was: DELETE)
        UPDATE [dbo].[Project]
        SET Status = 'Inactive',
            Updated_Date = GETDATE()
        WHERE Project_ID = @Project_ID
          AND Status = 'Active';

        -- NOTE: Execution Outputs, Audit Logs, Documents, and Executions
        -- (Table_Data_Output, Header_Data_Output, Execution_Audit,
        -- Document_Table, Execution_Master) are historical/processing
        -- records and are intentionally left untouched.

        COMMIT TRANSACTION;
        PRINT 'Project and all associated models/definition data marked Inactive successfully.';
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;

        -- Return the error information
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
